$mainColor: #dc0030;
$fontColor: #878787;

.table-responsive {
    border: none;
    
    .table, .jsgrid-table {
        border-color: rgba(33, 33, 33, 0.1) !important;
    }
    
    .table>thead:first-child>tr:first-child>th {
        border-top: 0;
    }
    
    .table > thead > tr > th, 
    .jsgrid-table > thead > tr > th, 
    .table > tfoot > tr > th, 
    .jsgrid-table > tfoot > tr > th {
        border-bottom: 2px solid rgba(33, 33, 33, 0.1) !important;
        color: #212121;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .table > tbody > tr > td, 
    .jsgrid-table > tbody > tr > td, 
    .table > tbody > tr > th, 
    .jsgrid-table > tbody > tr > th, 
    .table > tfoot > tr > td, 
    .jsgrid-table > tfoot > tr > td, 
    .table > tfoot > tr > th, 
    .jsgrid-table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .jsgrid-table > thead > tr > td, 
    .table > thead > tr > th, 
    .jsgrid-table > thead > tr > th {
        padding: 16px;
        border-top: 1px solid rgba(33, 33, 33, 0.1);
        vertical-align: middle;
    }
    
    .table > tbody > tr > td, 
    .jsgrid-table > tbody > tr > td {
        color: $fontColor;
        font-size: 14px;
    }
    
    .table > tbody > tr.active > td,
    .table > tbody > tr.active > th {
        background: rgba(220, 220, 220, 0.08);
    }
    
    .table > tbody > tr.success > td,
    .table > tbody > tr.success > th {
        background: rgba(9, 162, 117, 0.08);
    }
    
    .table > tbody > tr.info > td,
    .table > tbody > tr.info > th {
        background: rgba(177, 0, 88, 0.08);
    }
    
    .table > tbody > tr.warning > td,
    .table > tbody > tr.warning > th {
        background: rgba(242, 183, 1, 0.08);
    }
    
    .table > tbody > tr.danger > td,
    .table > tbody > tr.danger > th {
        background: rgba(220, 0, 48, 0.08);
    }
    
    .table-bordered {
        border: 1px solid rgba(33, 33, 33, 0.1);
    }
}

.bootstrap-table .fixed-table-container .table thead th .th-inner,
.bootstrap-table .fixed-table-container .table th, 
.bootstrap-table .fixed-table-container .table td {
    padding: 8px;
}

.dataTables_wrapper {
    
    .dataTables_length, .dataTables_info {
        padding-left: 15px;
    }
    
    .dataTables_filter input, .dataTables_length select {
        height: 25px;
        border: 1px solid rgba(33, 33, 33, 0.12);
        border-radius: 0;
        background-color: #fff;
        box-shadow: none;
        color: #212121;
    }
    
    .dataTables_filter {
        padding-right: 15px;
    }
    
    .dataTables_length, .dataTables_filter {
        padding-top: 20px;
        margin-bottom: 14px;
        color: #878787;
    }
    
    table.dataTable > caption + thead > tr:first-child > td, 
    table.dataTable > caption + thead > tr:first-child > th, 
    table.dataTable > colgroup + thead > tr:first-child > td, 
    .table > colgroup + thead > tr:first-child > th, 
    .jsgrid-table > colgroup + thead > tr:first-child > th, 
    table.dataTable > thead:first-child > tr:first-child > td, 
    table.dataTable > thead:first-child > tr:first-child > th {
        border-left: medium none !important;
    }
    
    table.dataTable > tfoot > tr > th {
        border-bottom: 0 solid rgba(33, 33, 33, 0.1) !important;
        border-left: medium none !important;
        color: #212121;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    table.dataTable.row-border tbody th, 
    table.dataTable.row-border tbody td, 
    table.dataTable.display tbody th, 
    table.dataTable.display tbody td {
        border-color: rgba(33, 33, 33, 0.1);
        border-left: none;
        border-bottom: none;
    }
    
    table.dataTable.order-column tbody tr > .sorting_1, 
    table.dataTable.order-column tbody tr > .sorting_2, 
    table.dataTable.order-column tbody tr > .sorting_3, 
    table.dataTable.display tbody tr > .sorting_1, 
    table.dataTable.display tbody tr > .sorting_2, 
    table.dataTable.display tbody tr > .sorting_3, 
    table.dataTable.display tbody tr.odd > .sorting_1, 
    table.dataTable.order-column.stripe tbody tr.odd > .sorting_1, 
    table.dataTable.stripe tbody tr.odd, 
    table.dataTable.display tbody tr.odd, 
    table.dataTable.hover tbody tr:hover, 
    table.dataTable.display tbody tr:hover {
        background-color: inherit;
    }
    
    .dataTables_length, 
    .dataTables_filter,
    .dataTables_info, 
    .dataTables_processing, 
    .dataTables_paginate {
        color: #212121;
    }
    
    .dataTables_paginate .paginate_button.current, 
    .dataTables_paginate .paginate_button.current:hover, 
    .dataTables_paginate .paginate_button:hover, 
    .dataTables_paginate .paginate_button:active, 
    .dataTables_paginate .paginate_button:focus {
        background: #09a275;
        border-color: #09a275;
        color: #fff !important;
        box-shadow: none;
    }
    
    table.dataTable.no-footer {
        border: none
    }
}

.footable {
    
    .form-inline {
        display: block;
        
        .form-group {
            float: right;
            
            input {
                height: 42px;
                border-radius: 0;
            }
            
            .btn {
                margin: 0;
                border-radius: 0;
            }
        }
    }
    
    .btn-group, .btn-group-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    
    .btn-group-xs>.btn, .btn-xs {
        padding: 1px 2px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}